*
{
    padding: 0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}

body
{
    background-color: lightgray;
}
html,body
{
    width: 100%;
}
section
{
    width: 366px;
    height: 250px; 
    margin: 50px auto;
    position: relative;
    /* border: 2px solid red; */
}
section img
{
    height: 100%;
    width: 100%;
}
.child
{

    height: 0%;
    width: 100%;
    position:absolute;
    bottom: 2px;
    background-color:white;
    display:flex;
    overflow:hidden;
    justify-content: space-between;
    transition: 1.5s;
}

.child .content
{
    padding: 20px;
    width: 50%;
    height: 100%;
}
.child .icons
{
    padding: 20px;
    width: 30%;
    height: 100%;
    text-align: center;
}
.child .icons
{
margin-left: 10px;
}
section:hover .child
{
    height: 35%;
}
